<markdown src="assets/README.md"></markdown>

<h2>icon demos</h2>
<div class="pt-2">
  <fc-text
    [(ngModel)]="searchTerm"
    [maxLength]="100"
    placeholder="Find an icon by name"
  >demo search</fc-text>
</div>

<div class="d-flex flex-wrap f-justify-center">
  <a
    *ngFor="let icon of typeItems"
    class="pt-2 pl-1 pr-1"
    [hidden]="!filteredTypes.includes(icon.type)"
    [href]="'#' + icon.type"
    [title]="icon.type"
  >
    <fc-button>
      <icon
        [type]="icon.type"
        size="3em"
        [fillOpacity]="0"
        stroke="FFFFFF"
      ></icon>
    </fc-button>
  </a>
</div>

<div
  *ngIf="filteredTypes.length === 0"
  class="d-flex f-justify-center pb-2 pt-2"
>
  <fc-button (clicked)="onRefineClicked()">
    Please refine your search
  </fc-button>
</div>

<div
  *ngFor="let item of typeItems"
  [hidden]="!filteredTypes.includes(item.type)"
>
  <h3 [id]="item.type">
    {{item.type}} demo
  </h3>
  <div class="d-flex">
    <form class="flex-1 overflow-hidden">
      <h4>configure</h4>
      <div class="col-1-1">
        <div class="fill-container">
          <fc-button
            [isDisabled]="item.fill.length >= 5"
            (clicked)="item.fill.push({ color: '000000'})"
          >
            add fill color
          </fc-button>
        </div>
        <div
          *ngFor="let fill of item.fill; let idx = index"
          class="fill-container"
        >
          <fc-color
            [(ngModel)]="fill.color"
            name="fill-{{item.type}}-{{idx}}"
            [brRight]="false"
          >
            fill color {{idx + 1}}
          </fc-color>
          <fc-color
            [brRight]="false"
            [brLeft]="false"
            title="Clear color, transparent"
            (clicked)="fill.color = 'clear'"
          >
            🆑
          </fc-color>
          <fc-button
            [brLeft]="false"
            title="Remove"
            (clicked)="item.fill.splice(idx, 1)"
          >
            ❌
          </fc-button>
        </div>
        <fc-choice
          [(ngModel)]="item.fillRotate"
          name="fillRotate"
          [required]="true"
          [items]="rotateItems"
        >
          fill rotate
        </fc-choice>
        <fc-choice
          [(ngModel)]="item.fillOpacity"
          name="fillOpacity"
          [required]="true"
          [items]="opacityItems"
        >
          fill opacity
        </fc-choice>
        <div class="fill-container">
          <fc-button
            [isDisabled]="item.stroke.length >= 5"
            (clicked)="item.stroke.push({ color: '000000'})"
          >
            add stroke color
          </fc-button>
        </div>
        <div
          *ngFor="let stroke of item.stroke; let idx = index"
          class="fill-container"
        >
          <fc-color
            [(ngModel)]="stroke.color"
            name="stroke-{{item.type}}-{{idx}}"
            [brRight]="false"
          >
            stroke color {{idx + 1}}
          </fc-color>
          <fc-button
            [brLeft]="false"
            (clicked)="item.stroke.splice(idx, 1)"
          >
            remove
          </fc-button>
        </div>
        <fc-choice
          [(ngModel)]="item.strokeRotate"
          name="strokeRotate"
          [required]="true"
          [items]="rotateItems"
        >
          stroke rotate
        </fc-choice>
        <fc-choice
          [(ngModel)]="item.spin"
          name="spin"
          [items]="spinItems"
        >
          spin
        </fc-choice>
      </div>
      <h4>html code</h4>
      <pre><code class="language-markup">{{htmlCode(item).join('\n')}}</code></pre>
    </form>
    <div class="heading pl-1 pt-1">
      <div class="d-flex">
        <div class="icon-frame">
          <div class="icon-container">
            <icon
              [type]="item.type"
              [fill]="mapColors(item.fill)"
              [fillRotate]="item.fillRotate"
              [fillOpacity]="item.fillOpacity"
              [stroke]="mapColors(item.stroke)"
              [strokeRotate]="item.strokeRotate"
              [spin]="item.spin"
            ></icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3>icon-stack demo</h3>
<div class="d-flex pb-2">
  <div class="flex-1 overflow-hidden">
    <h4>html code</h4>
    <pre><code class="language-markup">{{iconStackHtmlCode.join('\n')}}</code></pre>
  </div>
  <div class="heading pl-1 pt-1">
    <div class="d-flex">
      <div class="icon-frame">
        <div class="icon-container">
          <icon-stack size="10em">
            <icon
              type="times"
              [fill]="['00FF00', 'FF0000', '0000FF']"
            ></icon>
            <icon type="ring"></icon>
          </icon-stack>
        </div>
      </div>
    </div>
  </div>
</div>

<footer></footer>

<div id="background"></div>
