/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial;
  margin: auto;
  padding: 0 0.25em;
  max-width: 720px;
}

code {
  background: linear-gradient(45deg, lightcyan, lightyellow);
}

.flex-1 {
  flex: 1;
}

ul,
ul li,
ol,
ol li {
  margin-top: 0.5em;
}

form fieldset {
  margin-top: 0.5em;
  border-color: #ffffff;
  border-radius: 0.5em;
}

h2 {
  position: sticky;
  top: 0;
  background-color: white;
  margin: 0;
  padding: 0.25em 0;
  z-index: 2;
}

.col-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;

  @media (max-width: 720px) {
    grid-template-columns: 1fr;
  }
}

.block {
  display: block;
}
