/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial;
  margin: auto;
  padding: 0 0.25em;
  max-width: 720px;
  color: whitesmoke;
}

ul,
ul li,
ol,
ol li {
  margin-top: 0.5em;
}

h2 {
  margin: 0;
  padding: 0.25em 0;
  z-index: 2;
}

h3 {
  padding: 0;
  margin: 0;
}

.col-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.col-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;

  @media (max-width: 720px) {
    grid-template-columns: 1fr;
  }
}

.pos-sticky {
  position: sticky;
  top: 0;
}

.d-flex {
  display: flex;
}
.f-justify-center {
  justify-content: center;
}
.f-justify-right {
  justify-content: flex-end;
}
