<h1>Icon Playground</h1>
<h2>Features</h2>
<ol>
  <li>scalable vector graphics 😎</li>
</ol>
<h2>Inputs</h2>
<ol>
  <li>coming soon!</li>
</ol>
<nav>
  <!-- soon! -->
</nav>
<ng-container *ngFor="let type of types">
  <h3>{{type}}</h3>
  <div class="row">
    <div class="icon-container">
      <div class="icon-bg">
        <div
          *ngFor="let cell of bgGrid"
          [class.accent]="(cell.x + cell.y) % 2 === 0"
          [style.grid-column]="cell.x"
          [style.grid-row]="cell.y"
        ></div>
      </div>
      <icon
        [type]="type"
        [fill]="['00FF00', 'FF0000', '0000FF']"
      ></icon>
    </div>
  </div>
  <form>
    <fieldset>
      <legend>form</legend>
      coming soon!
    </fieldset>
  </form>
  <br />
</ng-container>
