<h1>Icon Playground</h1>
<a href="https://www.npmjs.com/package/@joster/icon">
  v0.0.3
</a>
<h2>Features</h2>
<ol>
  <li>scalable vector graphics 😎</li>
  <li>invalid Input value bindings have no effect</li>
</ol>
<h2>Inputs</h2>
<ol>
  <li>
    <code>fill</code>
    <ul>
      <li>
        type: <code>hexString | hexString[]</code>
      </li>
      <li>
        default: <code>['FFFFFF']</code>
      </li>
    </ul>
  </li>
  <li>
    <code>fillRotate</code>
    <ul>
      <li>
        type: <code>number</code>
      </li>
      <li>
        default: <code>0</code>
      </li>
    </ul>
  </li>
  <li>
    <code>fillOpacity</code>
    <ul>
      <li>
        type: <code>number</code>
      </li>
      <li>
        default: <code>1</code>
      </li>
    </ul>
  </li>
  <li>
    <code>stroke</code>
    <ul>
      <li>
        type: <code>hexString</code>
      </li>
      <li>
        default: <code>'000000'</code>
      </li>
    </ul>
  </li>
  <li>
    <code>strokeWidth</code>
    <ul>
      <li>
        type: <code>number</code>
      </li>
      <li>
        default: <code>5</code>
      </li>
    </ul>
  </li>
  <li>
    <code>size</code>
    <ul>
      <li>
        type: <code>string</code>
      </li>
      <li>
        default: <code>'100%'</code>
      </li>
    </ul>
  </li>
</ol>
<nav>
  <!-- soon! -->
</nav>
<ng-container *ngFor="let item of typeItems">
  <h3>{{item.type}}</h3>
  <div class="row">
    <div class="icon-container">
      <div class="icon-bg">
        <div
          *ngFor="let cell of bgGrid"
          [class.accent]="(cell.x + cell.y) % 2 === 0"
          [style.grid-column]="cell.x"
          [style.grid-row]="cell.y"
        ></div>
      </div>
      <icon
        [type]="item.type"
        [fill]="fillColors(item.fill)"
      ></icon>
    </div>
  </div>
  <form>
    <fieldset>
      <legend>
        <code>fill</code>
      </legend>
      <fc-button (clicked)="item.fill.push({ color: '000000'})">
        Add
      </fc-button>
      <div
        *ngFor="let fill of item.fill; let idx = index"
        class="fill-container"
      >
        <fc-color
          label="color {{idx + 1}}"
          [(ngModel)]="fill.color"
          name="{{item.type}}-{{idx}}"
        ></fc-color>
        <fc-button (clicked)="item.fill.splice(idx, 1)">
          Remove
        </fc-button>
      </div>
    </fieldset>
  </form>
  <br />
</ng-container>
