<h1>Icon Resource</h1>
<a href="https://www.npmjs.com/package/@joster/icon">
  v0.0.5
</a>
<h2>
  <code>{{iconText}}</code>
</h2>
<h3>Features</h3>
<ol>
  <li>
    scalable vector graphics
    <ol>
      may be scaled up or down to any resolution with no aliasing
    </ol>
  </li>
  <li>
    when an invalid value is provided for an input
    <ol>
      <li>a descriptive error will be thrown</li>
      <li>the last valid value will remain</li>
    </ol>
  </li>
</ol>
<h3>Inputs</h3>
<ol>
  <li>
    <code>fill</code>
    <ul>
      <li>
        type: <code>hexString | hexString[]</code>
      </li>
      <li>
        default: <code>['FFFFFF']</code>
      </li>
    </ul>
  </li>
  <li>
    <code>fillRotate</code>
    <ul>
      <li>
        type: <code>boolean</code>
      </li>
      <li>
        default: <code>false</code>
      </li>
    </ul>
  </li>
  <li>
    <code>fillOpacity</code>
    <ul>
      <li>
        type: <code>number</code>
      </li>
      <li>
        default: <code>1</code>
      </li>
    </ul>
  </li>
  <li>
    <code>stroke</code>
    <ul>
      <li>
        type: <code>hexString</code>
      </li>
      <li>
        default: <code>'000000'</code>
      </li>
    </ul>
  </li>
  <li>
    <code>strokeWidth</code>
    <ul>
      <li>
        type: <code>number</code>
      </li>
      <li>
        default: <code>5</code>
      </li>
    </ul>
  </li>
  <li>
    <code>size</code>
    <ul>
      <li>
        type: <code>string</code>
      </li>
      <li>
        default: <code>'100%'</code>
      </li>
    </ul>
  </li>
  <li>
    <code>type</code>
    <ul>
      <li>
        must be one of the following
      </li>
    </ul>
  </li>
</ol>
<nav>
  <!-- soon! -->
</nav>
<ng-container *ngFor="let item of typeItems">
  <h3>
    <code>type={{item.type}}</code>
  </h3>
  <div class="row">
    <div class="icon-container">
      <div class="icon-bg">
        <div
          *ngFor="let cell of bgGrid"
          [class.accent]="(cell.x + cell.y) % 2 === 0"
          [style.grid-column]="cell.x"
          [style.grid-row]="cell.y"
        ></div>
      </div>
      <icon
        [type]="item.type"
        [fill]="fillColors(item.fill)"
        [fillRotate]="item.fillRotate"
      ></icon>
    </div>
  </div>
  <form>
    <fieldset>
      <legend>
        <code>[fill]={{fillColors(item.fill) | json}} <small>type={{item.type}}</small></code>
      </legend>
      <fc-button (clicked)="item.fill.push({ color: '000000'})">
        Add
      </fc-button>
      <div
        *ngFor="let fill of item.fill; let idx = index"
        class="fill-container"
      >
        <fc-color
          [(ngModel)]="fill.color"
          name="{{item.type}}-{{idx}}"
        ></fc-color>
        <fc-button (clicked)="item.fill.splice(idx, 1)">
          Remove
        </fc-button>
      </div>
    </fieldset>
    <fieldset>
      <legend>
        <code>[fillRotate]="{{item.fillRotate | json}}" <small>type="{{item.type}}"</small></code>
      </legend>
      <fc-choice
        [(ngModel)]="item.fillRotate"
        name="fillRotate"
        [items]="fillRotateItems"
      ></fc-choice>
    </fieldset>
  </form>
  <br />
</ng-container>
<h2>
  <code>{{iconStackText}}</code>
</h2>
<h3>Features</h3>
<ol>
  <li>
    stack <code>{{iconText}}</code> content
    <ol>
      nested <code>{{iconText}}</code> does not need to specify size input
    </ol>
  </li>
</ol>
<h3>Inputs</h3>
<li>
  <code>size</code>
  <ul>
    <li>
      type: <code>string</code>
    </li>
    <li>
      default: <code>'100%'</code>
    </li>
  </ul>
</li>
<div class="row">
  <div class="icon-container">
    <div class="icon-bg">
      <div
        *ngFor="let cell of bgGrid"
        [class.accent]="(cell.x + cell.y) % 2 === 0"
        [style.grid-column]="cell.x"
        [style.grid-row]="cell.y"
      ></div>
    </div>
    <icon-stack size="10em">
      <icon
        type="times"
        [fill]="['00FF00', 'FF0000', '0000FF']"
      ></icon>
      <icon type="ring"></icon>
    </icon-stack>
  </div>
</div>
<br />
