.row {
  display: flex;
  justify-content: center;
}

.icon-container {
  position: relative;
  width: 10em;
  height: 10em;

  > icon {
    position: absolute;
  }

  > .icon-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-rows: minmax(0, 1fr);
    grid-auto-columns: minmax(0, 1fr);

    > .accent {
      background-color: lightgrey;
    }
  }
}
